/**$*$********************************************************************
*$*$                         SECCION SERVICIOS                           *
*$*$**********************************************************************/
.flexServicios,
.flexCejas,
.flexUnas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkServicios {
    background-color: #464646;
    color: white;
}

.linkServicios:hover {
    background-color: #2a77d6;
    color: white;
}