/**$*$********************************************************************
*$*$                         SECCION SERVICIOS                           *
*$*$**********************************************************************/
.flexServicios,
.flexCejas,
.flexUnas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxServicios {
    width: 50%;
    margin: 1%;
}

.linkServicios {
    background-color: #464646;
    color: white;
}

.linkServicios:hover {
    background-color: #2a77d6;
    color: white;
}